*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #3f454a;
  transition: all 0.5s ease;
}

body {
  font-family: "Open Sans", sans-serif;
}

.pf {
  font-family: "Caveat", cursive;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.s-icon {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border: solid 1px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.svg {
  height: 50%;
}

.svg-y {
  width: 60%;
}

@media (min-width: 600px) {
  .s-icon {
    width: 3rem;
    height: 3rem;
  }
}
